.banner {
	font-size: 50px;
    font-weight: bold;
	color: #fff;
	line-height: 1.2;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
	text-transform: uppercase;
}

p {
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 10px;
}

button {
    padding: 20px;
    color: red;
}
